/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
}

body {
  padding-top: 50px;
  font: 18px/1.4 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  /*  background-image: url(/static/img/paper.png);  */
}

.container-fluid {
  max-width: 1900px;
}

hr {
  border-top: 1px solid #ddd;
}

a {
  color: #337AB9;
}

p {
  font-weight: 300;
}
h4 {font-size: 21px;}
ul {
  list-style-type: none;
}
ul.jobreqs {
  list-style-type: circle;
  padding-left: 35px;
}

.navbar {
  border-radius: 0;
  margin-bottom: 0;
}
.scrollable-menu {
    height: auto;
    max-height: 500px;
    overflow-x: hidden;
}
.btn {
  font-weight: 700;
}

.hero {
  margin: 0;
  padding: 0;
  background: url(/static/img/water.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 600px;
}
.hero h1 {
  font-size: 64px;
  font-weight: 600;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  padding-top: 30%;
}

.hero-moccasin-bend {
  margin: 0;
  padding: 0;
  background: url(/static/img/chattanooga-tn-moccasin-bend-wwtp.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 600px;
}
.hero-moccasin-bend div.feature {
  width: 65%;
  margin: 25% 0 5% 0;
  padding: 2%;
  float: right;
  background-color: rgba(0, 0, 0, .5);
  color: #fff;
}
.hero-moccasin-bend div.feature-m {
  width: 95%;
  margin: 5% auto;
  padding: 2%;
  background-color: rgba(0, 0, 0, .5);
  color: #fff;
}
.hero-moccasin-bend h1 {
  font-size: 44px;
  font-weight: 600;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
}

.hero-careers {
  margin: 0;
  padding: 0;
  background: url(/static/img/careers.jpg) no-repeat center bottom;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 400px;
}

.hero-projects {
  margin: 0;
  padding: 0;
  background: url(/static/img/projects.jpg) no-repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 200px;
}

.hero-past-projects {
  margin: 0;
  padding: 0;
  background: url(/static/img/past-projects.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 200px;
}

.expertise {
  background-image: url(/static/img/concrete_wall.png);
  color: #fff;
}
.expertise .col-md-4 {
  padding: 35px;
}
.hiring {
  padding: 120px auto;
  background-color: #f8f513;
  /*border-bottom: 10px solid #101010;*/
}
.covid {
  padding: 120px auto;
  background-color: #c9302c;
  color: #fff;
  padding: 10px;
  /*border-bottom: 10px solid #101010;*/
}

#about, #water-wastewater-treatment-plants, #pump-stations, #pipe-lines, #contact-us {
  padding-top: 50px;
  padding-bottom: 50px;
}

#gallery {
  padding-top: 15px;
}

.about {
  background-image: url(/static/img/cloth.png);
  /* ORANGE */
  /*
  background-color: #e19811;
  */
}
.news, .subnav {
  background-image: url(/static/img/brushed-copy.png);
  /* ORANGE */
  /*
  background-color: #e19811;
  */
}

.subnav {
  padding: 25px;
}

.subnav li {
  margin: 12px 0px;
  line-height: 115%;
}

#current-projects {
  margin-bottom: -20px;
}

#current-projects .col-md-4, #current-projects .col-md-6, #current-projects .col-md-12 {
  padding: 20px;
}
#current-projects h3, #current-projects a, #current-projects i {
  color: #337AB9;
}
#current-projects a {
  margin-right: 5px;
}
#current-projects h4 {
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
}
#current-projects .project-list h4 {
  margin-top: 25px;
  margin-bottom: 10px;
}
#current-projects .project-list li {
  margin-bottom: 9px;
}
#current-projects img {
  width: 100%;
  border: 1px solid #eee;
  margin-bottom: 10px;
}


.grey {
  background-image: url(/static/img/concrete_wall.png);
  color: #fff;
}
.grey a {
  color: #fff;
}
.grey a:hover {
  color: #fff;
  text-decoration: underline;
}

.container {
  margin-top: 20px;
}
.overlay {
   background:transparent;
   position:relative;
   width:100%;
   height:500px; /* your iframe height */
   top:500px;  /* your iframe height */
   margin-top:-500px;  /* your iframe height */
}
.modal-link {
  color: #333;
}
.modal-dialog {
  width: 80%;
  text-align: center;
  }

.footer {
  padding: 30px 15px;
  background-color: #101010;
  color: #ccc;
}
.footer p {
  font-size: 12px;
}

/*  Resonsive slider  */
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }
