{% extends "pages/base.html" %}
{% load staticfiles %}

    {% block navigation %}
      {{ block.super }}
    {% endblock %}

    {% block content %}
    <!-- Begin page content -->
    <div class="container" style="padding: 10px;">
      <div class="row">
        <div class="col-md-6">
          <h2>About Haren Construction Company</h2>
          <p class="lead">Established in 1939, Haren Construction Company has been a family-owned and operated construction firm specializing in the construction of engineered water improvement projects.</p>
          <p class="lead">Haren Construction Company strives to complete each project in a safe and timely manner while delivering the highest quality product. HCCI has formed many relationships with consulting engineers and owners and has constructed numerous projects for both.</p>
          <p class="lead">‘Good People’ continue building Etowah’s Haren Construction Company four generations later.</p>
          <p>By Dewey Morgan, <a href="https://www.dailypostathenian.com/business_news/article_773cdb08-1d9d-11e8-9b5b-fb13f7e4dcae.html" target="_blank" style="color: #024f94;">The Daily Post-Athenian.com</a></p>
        </div>
        <div class="col-md-6 text-center">
          <img src="static/img/family.jpg" width="80%">
        </div>
      </div>
    </div>

    <div class="hero-about">
      <div class="feature hidden-xs">
        <h1>We bring water to life.</h1>
        <p class="lead">We specialize ourselves in the construction of water and wastewater treatment facilities to provide clean and safe water to our community.</p>
      </div>
      <div class="feature-m visible-xs text-center">
        <h1>We bring water to life.</h1>
        <p class="lead">We specialize ourselves in the construction of water and wastewater treatment facilities to provide clean and safe water to our community.</p>
      </div>
    </div>

    <div class="container-fluid">
      <div class="container">
        <div class="row">
            <div class="col-md-6 text-center">
              <a id="water-treatment-plants"></a>
              <br /><img src="static/img/haren-water-treatment-projects.jpg" width="100%">
            </div>
            <div class="col-md-6">
              <h2 style="margin-top: 0;">Water Treatment Plants</h2>
              <p>Sewers collect the wastewater from homes, businesses, and industries, and deliver it to plants for treatment. Through a variety of chemical treatments, filtrations, and disinfection processes, most treatment plants are built to clean.</p>
              <p>At Haren Construction, we are experts in the construction and expansion of clean water and wastewater treatment facilities for both public and private sectors. In the treatment plant construction arena, HCCI successfully constructed numerous environmental improvement projects throughout the southeast. HCCI is an engineer oriented environmental construction company that has significant experience in all phases of treatment plant construction and renovation including; estimating, value engineering, procurement, scheduling, coordination and startup.</p>
              <a id="pump-stations"></a>
              <p>The HCCI management team understands the intrinsic details required for successful water and wastewater treatment plant construction and has a proven track record, which reflects this expertise.</p>
            </div>
        </div>
        <hr>
        <div class="feature hidden-xs">
          <div class="row" id="expertise">
            <div class="col-md-6">
              <h2 style="margin-top: 0;">Pump Stations</h2>
              <p>Water pumping stations are machines that can be used to transport water from one site to another, without needing direct human or animal input. These devices can supply water to canals, circulate water in treatment systems and can even drain water from low lying land.</p>
              <p>Water and wastewater pump station construction represents a significant portion of Haren Construction’s work. Our management team has years of experience and is cognizant of all aspects of dewatering, safety, shoring, excavation, as well as influent/effluent diversions required for completion of successful pump station construction and renovation projects.</p>
              <p>Haren Construction is well-equipped and staffed to self-perform most all critical phases of pump station construction and retrofitting. The management team of Haren Construction understands the sequencing required for a professionally completed pump station project that is constructed safely, on time and on budget.</p>
              <a id="pipe-lines"></a>
            </div>
            <div class="col-md-6 text-center">
              <img src="static/img/haren-pump-stations.jpg" width="100%">
            </div>
          </div>
        </div>
        <div class="feature-m visible-xs">
          <div class="row" id="expertise">
            <div class="col-md-6 text-center">
              <img src="static/img/haren-pump-stations.jpg" width="100%">
            </div>
            <div class="col-md-6">
              <h2 style="margin-top: 0;">Pump Stations</h2>
              <p>Water pumping stations are machines that can be used to transport water from one site to another, without needing direct human or animal input. These devices can supply water to canals, circulate water in treatment systems and can even drain water from low lying land.</p>
              <p>Water and wastewater pump station construction represents a significant portion of Haren Construction’s work. Our management team has years of experience and is cognizant of all aspects of dewatering, safety, shoring, excavation, as well as influent/effluent diversions required for completion of successful pump station construction and renovation projects.</p>
              <p>Haren Construction is well-equipped and staffed to self-perform most all critical phases of pump station construction and retrofitting. The management team of Haren Construction understands the sequencing required for a professionally completed pump station project that is constructed safely, on time and on budget.</p>
              <a id="pipe-lines"></a>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-6">
            <img src="static/img/haren-pipe-lines.jpg" width="100%">
          </div>
          <div class="col-md-6">
            <h2 style="margin-top: 0;">Pipe Lines</h2>
            <p>Pipe systems are used widely for the transportation of wastewater from buildings to the wastewater treatment plant. This can be done by gravity sewers, pressure or vacuum sewers, or by using domestic wastewater treatment tanks.</p>
            <p>Underground pipeline construction is an important component of Haren Construction Company. With extensive experience installing numerous pipeline materials, HCCI constructs water and wastewater transmission lines in all types of geological conditions. The management team has a significant amount of knowledge in scheduling these projects to execute safe, controlled bypassing to prevent unauthorized discharge into the environment. HCCI has a proven track record of successful projects that reflect the company values in both quality and safety.</p>
            <a id="dams-and-marine-work"></a><br />
          </div>
        </div>
        <hr>
        <div class="feature hidden-xs">
          <div class="row">
            <div class="col-md-6">
              <h2 style="margin-top: 0;">Dams and Marine Work</h2>
              <p>When a dam is built, it creates a reservoir of water, also called man-made lakes. Dams help us store water when we need it and help prevent droughts and floods.</p>
              <p>Haren Construction Company participates in a number of dam and marine projects constructing, repairing, and renovating safe and accessible spillways and drains to properly fluctuate established water channels.</p>
              <a id="water-storage-tanks"></a>
            </div>
            <div class="col-md-6">
              <img src="static/img/haren-dam-construction.jpg" width="100%">
            </div>
          </div>
        </div>
        <div class="feature-m visible-xs">
          <div class="row">
            <div class="col-md-6">
              <img src="static/img/haren-dam-construction.jpg" width="100%">
            </div>
            <div class="col-md-6">
              <h2 style="margin-top: 0;">Dams and Marine Work</h2>
              <p>When a dam is built, it creates a reservoir of water, also called man-made lakes. Dams help us store water when we need it and help prevent droughts and floods.</p>
              <p>Haren Construction Company participates in a number of dam and marine projects constructing, repairing, and renovating safe and accessible spillways and drains to properly fluctuate established water channels.</p>
              <a id="water-storage-tanks"></a>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-6">
            <img src="static/img/haren-water-storage-projects.jpg" width="100%">
          </div>
          <div class="col-md-6">
            <h2 style="margin-top: 0;">Water Storage Tanks</h2>
            <p>Water storage tanks come in all shapes, sizes, and configurations, and are used for a variety of purposes across the water treatment industry. A water storage tank collects clean water and stores it for later use and timely access.</p>
            <p>Haren Construction Company helps construct the water storage tanks with the proper water lines and valves to assure the proper functionality for the reserve.</p>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="blue" style="padding: 25px;">
      <div class="container-fluid text-center">
        <p class="lead">We have successfully completed many construction projects throughout the south,<br>all with impeccable attention to detail.</p>
        <p class="lead"><a href="/projects/index.html" class="btn btn-lg btn-warning" style="color: #000;">View Current Projects</a></p>
      </div>
    </div>


    {% endblock %}

    {% block footer %}
      {{ block.super }}
    {% endblock %}
