{% extends "pages/base.html" %}
{% load staticfiles %}

    {% block navigation %}
      {{ block.super }}
    {% endblock %}

    {% block content %}
    <!-- Begin page content -->
    <div class="hero-careers">
      <div class="container-fluid text-center"></div>
    </div>
    <div class="container-fluid">
      <div class="container">
        <h1>There are jobs – and then there are careers.</h1>
        <p class="lead">With Haren Construction Company, we do the kind of work that creates something new. With the opportunity to challenge yourself and learn new skills, you’ll be surrounded by like-minded, motivated teams ready to get dirty and build up our community. Specialized in the field of water treatment facilities, our reputation has been built on 80+ years of knowledge, experience, and technological team work to get the job done right. Now, all we’re missing is you. Haren Construction is actively recruiting inspired individuals ready to hone their skills and create the structures needed to better our community. Join our team today and become part of Haren family.</p>

        <p><a href="https://harenconstruction.applytojob.com/apply" class="btn btn-lg btn-danger" role="button">SEE OPEN POSITIONS</a></p>

        <h2>Employee Coverage</h2>
        <p class="lead">The opportunity for growth in the construction industry is incredible. With active projects cast over eleven states of the southeastern region of the United States, we have a range of opportunities to best suit your skills.</p>
        <p>And along the way, we offer excellent, competitive wages and benefit packages including health plans, paid leave, holiday pay, and 401(k) plans to keep you covered.</p>
        <blockquote>
          <ul>
            <li>Following the 60-day probationary period you may be eligible for benefits including: Medical, Dental, Vision</li>
            <li>Following 90 days of full-time employment, employees are eligible for 401(k) and sick/personal leave</li>
            <li>After 6 months+ of continuous employment, paid vacation is offered</li>
            <li>Paid Holidays</li>
          </ul>
        </blockquote>
        <p>Our employees are our greatest resource and Haren Construction is fully committed to their safety. With our safety program and full-time safety manager, we work hard to provide every employee with safe working conditions.</p>
        <p>Haren Construction Company, Inc. is a drug-free workplace, so all potential new hires must submit to a pre-employment drug screen.</p>
        <p>Haren Construction is an Equal Opportunity Employer (EEO). As such, Haren Construction provides equal employment opportunities (EEO) to all employees and applicants for employment without regard to race, color, religion, sex, national origin, age, disability or genetics. We utilize the E-Verify program to electronically verify the employment eligibility of</p>

        <h2>Internships</h2>
        <p>Are you looking to take your first steps into the field of construction? The Haren Construction internship/cooperative program provides the opportunity to gain insights into the construction industry through meaningful, hands-on experiences. From estimating, project management, and field experiences, our interns assume a diverse array of responsibilities during their time to ensure that they gain the full experience.</p>
        <p>Our full-time, paid internships are offered to college students actively enrolled in Building Science, Construction Management, Civil Engineering, Mechanical Engineering, or other related fields with the desire to pursue a career path in construction.</p>
        <p>To review further intern details, please see our intern offerings and applications through the positions tab above.</p>
        <br>
      </div>
    </div>

    {% endblock %}

    {% block footer %}
      {{ block.super }}
    {% endblock %}
