{% extends "pages/base.html" %}
{% load static %}

    {% block navigation %}
      {{ block.super }}
    {% endblock %}

    {% block content %}
    <!-- Begin page content -->

    <br>
    <div>
      <div class="container-fluid text-center">
        <p><img src="static/img/construction.jpeg" width="95%"></p>
      </div>
    </div>

    <div class="text-center" style="background-color: #94c7ed;">
      <div class="container-fluid">
        <div id="myCarousel" class="carousel slide" data-ride="carousel" style="padding: 20px;">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
            <li data-target="#myCarousel" data-slide-to="5"></li>
            <li data-target="#myCarousel" data-slide-to="6"></li>
            <li data-target="#myCarousel" data-slide-to="7"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <p style="padding: 25px;">
                “Haren Construction Company is well-respected in the utility construction industry by engineers, owners/utilities, material/equipment vendors, and fellow construction contractors.”<br /><br />
              </p>
            </div>

            <div class="item">
              <p style="padding: 25px;">
                “If you want/need a sense of team, family, and purpose and are willing to work hard in the ‘utility construction contracting industry,’ there is no better company.”<br /><br />
              </p>
            </div>

            <div class="item">
              <p style="padding: 25px;">
                “I believe I work at a unique place where hard work is expected, candidness is required, and tempers are sometimes lost –but through it all, teamwork abounds, respect for one another exists, and friendships are made.”<br /><br />
              </p>
            </div>
            <div class="item">
              <p style="padding: 25px;">
                “It’s a family atmosphere. Everyone genuinely cares for everyone else. We all win together and we all lose together. This makes the wins sweeter and tempers the lows.”<br /><br />
              </p>
            </div>
            <div class="item">
              <p style="padding: 25px;">
                “Employees aren’t a number here –they are FAMILY. They are a real person and we want them to be here.”<br /><br />
              </p>
            </div>
            <div class="item">
              <p style="padding: 25px;">
                “The real beauty to Haren Construction is that you are allowed to grow beyond what you think you can achieve.”<br /><br />
              </p>
            </div>
            <div class="item">
              <p style="padding: 25px;">
                “They treat you with respect and value your opinion. We are a work family and made to feel appreciated. Everyone is loyal to Haren.”<br /><br />
              </p>
            </div>
            <div class="item">
              <p style="padding: 25px;">
                “When people come to work at Haren, they are home.”<br /><br />
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="container">
        <h1>There are jobs – and then there are careers.</h1>
        <p class="lead">With Haren Construction Company, we do the kind of work that creates something new. With the opportunity to challenge yourself and learn new skills, you’ll be surrounded by like-minded, motivated teams ready to get dirty and build up our community. Specialized in the field of water treatment facilities, our reputation has been built on 80+ years of knowledge, experience, and technological team work to get the job done right. Now, all we’re missing is you. Haren Construction is actively recruiting inspired individuals ready to hone their skills and create the structures needed to better our community. Join our team today and become part of Haren family.</p>

        <p><a href="https://harenconstruction.applytojob.com/apply" class="btn btn-lg btn-warning">See Open Positions</a></p>

        <hr>

        <h2>Employee Coverage</h2>
        <p>The opportunity for growth in the construction industry is incredible. With active projects cast over eleven states of the southeastern region of the United States, we have a range of opportunities to best suit your skills.</p>
        <p>And along the way, we offer excellent, competitive wages and benefit packages including health plans, paid leave, holiday pay, and 401(k) plans to keep you covered.</p>
        <blockquote>
          <ul>
            <li>Following the 60-day probation period, employees may be eligible for health benefits such as medical, dental, and vision.</li>
            <li>Following 90 days of full-time employment, employees are eligible for 401(k) and sick/personal leave</li>
            <li>After 6 months+ of continuous employment, paid vacation is offered</li>
            <li>Paid Holidays</li>
          </ul>
        </blockquote>
        <p>Our employees are our greatest resource and Haren Construction is fully committed to their safety. With our safety program and full-time safety manager, we work hard to provide every employee with safe working conditions.</p>
        <p>Haren Construction Company, Inc. is a drug-free workplace, so all potential new hires must submit to a pre-employment drug screen.</p>
        <p>Haren Construction is an Equal Opportunity Employer (EEO). As such, Haren Construction provides equal employment opportunities (EEO) to all employees and applicants for employment without regard to race, color, religion, sex, national origin, age, disability or genetics. We utilize the E-Verify program to electronically verify the employment eligibility of all potential employees. </p>

        <hr>

        <h2>Internships</h2>
        <p>Are you looking to take your first steps into the field of construction? The Haren Construction internship/cooperative program provides the opportunity to gain insights into the construction industry through meaningful, hands-on experiences. From estimating, project management, and field experiences, our interns assume a diverse array of responsibilities during their time to ensure that they gain the full experience.</p>
        <p>Our full-time, paid internships are offered to college students actively enrolled in Building Science, Construction Management, Civil Engineering, Mechanical Engineering, or other related fields with the desire to pursue a career path in construction.</p>
        <p>To review further intern details, please see our intern offerings and applications through the positions tab above.</p>
        <br>
      </div>
    </div>

    {% endblock %}

    {% block footer %}
      {{ block.super }}
    {% endblock %}
