{% extends "pages/base.html" %}
{% load staticfiles %}

    {% block navigation %}
      {{ block.super }}
    {% endblock %}

    {% block content %}
    <!-- Begin page content -->
    <div class="container-fluid">
      <div class="container">
        <img src="{% static "img/DSCN0027.jpg" %}" style="width: 100%; margin-top: 20px;">
        <h1>Pump Station Construction And Renovation</h1>
        <p class="lead">Water and wastewater pump station construction represents a significant portion of HCCI's work. Our management team has many years experience and is cognizant of all aspects of dewatering, safety, shoring, excavation, as well as influent/effluent diversions required for completion of successful pump station construction and renovation projects.</p>
        <p class="lead">HCCI is well-equipped and staffed to self perform most all critical phases of pump station construction and retrofitting. The management team of HCCI understands the sequencing required for a professionally completed pump station project that is constructed safely, on time and on budget.</p>
        <hr>
        <h2>Current Pump Station Projects</h2>
        <hr>
        <div class="container" id="current-projects">
          <div class="row">
            <div class="col-md-4">
              <img src="projects/lexington-nc-hyattown-pumping-station/1.jpg">
              <h4>Hyattown Pumping Station</h4>
              Lexington, NC<br>
              <a href="projects/lexington-nc-hyattown-pumping-station/index.html">Project details</a>
              <i class="fa fa-camera" aria-hidden="true"></i>
            </div>
            <div class="col-md-4">
              <img src="projects/raleigh-nc-crabtree-creek-lift-station-expansion/1.jpg">
              <h4>Crabtree Creek Lift Station Expansion</h4>
              Raleigh, NC<br>
              <a href="projects/raleigh-nc-crabtree-creek-lift-station-expansion/index.html">Project details</a>
              <i class="fa fa-camera" aria-hidden="true"></i>
            </div>
            <div class="col-md-4">
              <img src="projects/springdale-ar-spring-creek-lift-station/1.jpg">
              <h4>Spring Creek Lift Station</h4>
              Springdale, AR<br>
              <a href="projects/springdale-ar-spring-creek-lift-station/index.html">Project details</a>
              <i class="fa fa-camera" aria-hidden="true"></i>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-4">
              <img src="projects/greensboro-nc-stewart-mill-road-and-creek-lift-stations-improvements/1.jpg">
              <h4>Stewart Mill Road and Rock Creek Lift Stations Improvements</h4>
              Greensboro, NC<br>
              <a href="projects/greensboro-nc-stewart-mill-road-and-creek-lift-stations-improvements/index.html">Project details</a>
              <i class="fa fa-camera" aria-hidden="true"></i>
            </div>
            <div class="col-md-4">
              <img src="projects/winder-ga-fort-yargo-raw-water-project/2a.jpg">
              <h4>Fort Yargo Raw Water Project-Contract A</h4>
              Winder, GA<br>
              <a href="projects/winder-ga-fort-yargo-raw-water-project/index.html">Project details</a>
              <i class="fa fa-camera" aria-hidden="true"></i>
            </div>
            <div class="col-md-4">
              <img src="projects/raleigh-nc-big-branch-south-pump-station-expansion/1.jpg">
              <h4>Big Branch South PS Expansion</h4>
              Raleigh, NC<br>
              <a href="projects/raleigh-nc-big-branch-south-pump-station-expansion/index.html">Project details</a>
              <i class="fa fa-camera" aria-hidden="true"></i>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-4">
              <img src="projects/lenoir-city-tn-main-pump-station-replacement/1.jpg">
              <h4>Lenoir City Main Pump Station #1 Replacement</h4>
              Lenoir City, TN<br>
              <a href="projects/lenoir-city-tn-main-pump-station-replacement/index.html">Project details</a>
              <i class="fa fa-camera" aria-hidden="true"></i>
            </div>
            <div class="col-md-4">
              <!-- <img src="projects/raleigh-nc-pump-station-rehabilitation/1.jpg"> -->
              <h4>Pump Station Rehabilitation Project</h4>
              Raleigh, NC<br>
              <a href="projects/raleigh-nc-pump-station-rehabilitation/index.html">Project details</a>
            </div>
            <div class="col-md-4">
              <!-- <img src="projects/knoxville-tn-kuwahee-wastewater-treatment-ras-pumping-system/1.jpg"> -->
              <h4>Kuwahee Wastewater Treatment Plant RAS Pumping System Upgrade</h4>
              Knoxville, TN<br>
              <a href="projects/knoxville-tn-kuwahee-wastewater-treatment-ras-pumping-system/index.html">Project details</a>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-4">
              <!-- <img src="projects/york-sc-steele-creek-wastewater-pump-station/1.jpg"> -->
              <h4>Steele Creek Wastewater Pump Station</h4>
              York, SC<br>
              <a href="projects/york-sc-steele-creek-wastewater-pump-station/index.html">Project details</a>
            </div>
            <div class="col-md-8"></div>
          </div>
        </div>
      </div>
    </div>

    {% endblock %}

    {% block footer %}
      {{ block.super }}
    {% endblock %}
