{% extends "pages/base.html" %}
{% load staticfiles %}

    {% block navigation %}
      {{ block.super }}
    {% endblock %}

    {% block content %}
    <!-- Begin page content -->
    <div class="container-fluid">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h1>FOR IMMEDIATE HIRE:</h1>
          </div>
          <div class="col-md-6 text-right"><br>
            <a href="http://jobs.harenconstruction.com" class="btn btn-lg btn-danger" role="button">APPLY NOW</a>
          </div>
        </div>
        <h2>Superintendent for water and wastewater plant and pump station construction</h2>
        <p class="lead">The successful candidates will reside and work in the Southeastern United States and report to one of several project managers. Viable candidates must have proven Superintendent skills in Water/Wastewater &amp; Pump Station Construction, successfully leading field work in structural concrete, mechanical work, process piping and excavation, piping, and facilities startup. We are looking for seasoned Superintendents with confirmed 10+ years minimum of supervision experience to join the firm and construct projects in the Southeastern United States. Successful candidates will be an integral part of the company’s environmental construction team and oversee projects ($2,000,000 to $20,000,000). Candidates must be strong leaders who can build medium size treatment plants from beginning to end and can provide a history of successful projects.</p>
        <hr>
        <h2>JOB REQUIREMENTS:</h2>
        <h4>Qualifications</h4>
        <ul class="jobreqs lead">
          <li>10+ years of successful confirmable supervision experience in managing and constructing water/wastewater treatment plants and pump stations is required.</li>
          <li>Limited computer skills in MS Office and email communication are a plus.</li>
          <li>Successful candidates must have experience managing and constructing projects $2 to $20 million while self-performing structural concrete, yard piping, mechanical equipment installation, mechanical and process piping, excavation, and startup experience in a safe and professional manner.</li>
          <li>Proven track record of leadership skills and strong teamwork oriented success in environmental construction.</li>
          <li>Successful candidates must be willing to travel the Southeastern United States.</li>
          <li>Positive attitude and professional customer service skills are a must.</li>
          <li>Candidates must be detail oriented and have a successful safety record on projects. HCCI prides itself on quality construction and this is a must.</li>
          <li>Successful candidates must be able to evaluate, hire and motivate field employees to complete projects in an economical, timely, safe and successful manner.</li>
          <li>Driver’s license is required.</li>
        </ul>
        <h4>Compensation</h4>
        <ul class="jobreqs lead">
          <li>Annual salary based on past track record of successful projects. Haren offers competitive compensation based on past experience and success.</li>
          <li>Company truck including truck expenses</li>
          <li>Personal Medical Benefits at a minor expense</li>
          <li>1 week paid vacation after six months of employment</li>
          <li>3 weeks paid vacation per year after five years of employment and typical holidays and 5 sick/personal days after 90 days of employment</li>
          <li>Company 401K contribution, 25% match up to 6% of base salary after 90 days of employment (at the beginning of the next quarter)</li>
          <li>Out of town living expenses and moving expenses if necessary</li>
        </ul>
        <hr>
        <small>
          <p>Haren Construction Company, Inc. provides equal employment opportunities (EEO) to all employees and applicants for employment without regard to race, color, religion, sex, national origin, age, disability or genetics. In addition to federal law requirements, Haren Construction Company, Inc. complies with applicable state and local laws governing nondiscrimination in employment in every location in which the company has facilities. This policy applies to all terms and conditions of employment, including recruiting, hiring, placement, promotion, termination, layoff, recall, transfer, leaves of absence, compensation and training.</p>
          <p>We encourage qualified, aggressive individuals to join our team and be a part of an organization that has had many years of environmental construction success and has an excellent reputation in the construction business.</p>
        </small>
      </div>
    </div>

    {% endblock %}

    {% block footer %}
      {{ block.super }}
    {% endblock %}
