{% extends 'base.html' %}
{% load static from staticfiles %}

  {% block content %}
  <div class="container-fluid">
    <div class="container">
      <h2>Thank you.</h2>
      <p class="lead">We consider applicants for all positions without regard to race, religion, sex, national origin, age, veteran status, disability, or any other legally protected status.</p>
      <p class="lead">This employment application will remain active for a period of ninety (90) days from the date of application.  To be considered for employment after that time, a new application is required.</p>
    </div>
  </div>
  {% endblock %}
