{% extends 'base.html' %}
{% load static from staticfiles %}

  {% block extrahead %}
  <script type="text/javascript">
      $(function() {
          $('div.formsetmanage').formset({
              formTemplate: '#id_form_template',
              extraClasses: ['row1', 'row2', 'row3'],
              addText: 'Add Work Experience',
              deleteText: 'Remove Work Experience',
              prefix: "{{ wizard.form.prefix }}"
          })
      })
  </script>
  <style type="text/css">
      .add-row {
          padding-left:18px;
          background:url({% static "img/add.png" %}) no-repeat left center;
      }
      .delete-row {
          display:block;
          margin:6px 0 0 0;
          padding-left:18px;
          /* background:url({{ MEDIA_URL }}images/delete.png) no-repeat left center; */
      }
      .dynamic-form { padding: 5px 15px; }
      .row1 { background-color: #f9f9f9; }
      .row2 { background-color: #f3f3f3; }
      .row3 { background-color: #ededed; }
  </style>
  {% endblock %}

  {% block content %}

  <div id="id_form_template" style="display:none;">
    {% with wizard.form.empty_form as work_form %}
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="{{ work_form.company_name.id_for_label }}">Employer</label>
          <input type="text" class="form-control" name="{{ work_form.company_name.html_name }}" id="{{ work_form.company_name.id_for_label }}" value="{{ work_form.company_name.value|default_if_none:'' }}" placeholder="Company name">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <input type="text" class="form-control" name="{{ work_form.city.html_name }}" id="{{ work_form.city.id_for_label }}" value="{{ work_form.city.value|default_if_none:'' }}" placeholder="City">
        </div>
      </div>
      <div class="col-md-3">
        <select class="form-control" id="{{ work_form.state.id_for_label }}" name="{{ work_form.state.html_name }}">
         {% for choice, choice_label in work_form.state.field.choices %}
         <option value="{{ choice }}"{% if choice == work_form.state.value %} selected{% endif %}>{{ choice_label }}</option>
         {% endfor %}
        </select>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <input id="{{ work_form.zipcode.id_for_label }}" name="{{ work_form.zipcode.html_name }}" value="{{ work_form.zipcode.value|default_if_none:'' }}" type="text" class="form-control" placeholder="Zip code">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="{{ work_form.supervisor.id_for_label }}">Supervisor</label>
          <input type="text" class="form-control" name="{{ work_form.supervisor.html_name }}" id="{{ work_form.supervisor.id_for_label }}" value="{{ work_form.supervisor.value|default_if_none:'' }}" placeholder="Supervisor's name">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="{{ form.phone.id_for_label }}">Phone number</label>
          <input type="text" class="form-control" name="{{ work_form.phone.html_name }}" id="{{ work_form.phone.id_for_label }}" value="{{ work_form.phone.value|default_if_none:'' }}" placeholder="(123) 456-7890">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="{{ work_form.email.id_for_label }}">Email address</label>
          <input type="email" class="form-control" name="{{ work_form.email.html_name }}" id="{{ work_form.email.id_for_label }}" value="{{ work_form.email.value|default_if_none:'' }}" placeholder="name@example.com">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label for="{{ work_form.start_date.id_for_label }}">Start date:</label>
          <input type="text" class="form-control datepicker" name="{{ work_form.start_date.html_name }}" id="{{ work_form.start_date.id_for_label }}" value="{{ work_form.start_date.value|default_if_none:'' }}" placeholder="mm/dd/yyyy">
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="{{ work_form.start_pay.id_for_label }}">Starting pay:</label>
          <input type="text" class="form-control" name="{{ work_form.start_pay.html_name }}" id="{{ work_form.start_pay.id_for_label }}" value="{{ work_form.start_pay.value|default_if_none:'0.00' }}" placeholder="0.00">
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="{{ work_form.end_date.id_for_label }}">End date:</label>
          <input type="text" class="form-control datepicker" name="{{ work_form.end_date.html_name }}" id="{{ work_form.end_date.id_for_label }}" value="{{ work_form.end_date.value|default_if_none:'' }}" placeholder="mm/dd/yyyy">
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="{{ work_form.end_pay.id_for_label }}">Ending pay:</label>
          <input type="text" class="form-control" name="{{ work_form.end_pay.html_name }}" id="{{ work_form.end_pay.id_for_label }}" value="{{ work_form.end_pay.value|default_if_none:'0.00' }}" placeholder="0.00">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label for="{{ work_form.job_title.id_for_label }}">Job title:</label>
          <input type="text" class="form-control" name="{{ work_form.job_title.html_name }}" id="{{ work_form.job_title.id_for_label }}" value="{{ work_form.job_title.value|default_if_none:'' }}" placeholder="Your most reason position">
        </div>
      </div>
      <div class="col-md-9">
        <div class="form-group">
          <label for="{{ form.work_information.id_for_label }}">Tell us about the work you performed:</label>
          <textarea class="form-control" rows="10" name="{{ work_form.work_information.html_name }}" id="{{ work_form.work_information.id_for_label }}">{{ work_form.work_information.value|default_if_none:'' }}</textarea>
        </div>
      </div>
    </div>
    {% endwith %}
  </div>

  <div class="container-fluid">
    <div class="container">
      {% for work_form in wizard.form %}
        {% if work_form.errors %}
          <div class="alert alert-danger">Errors:
            <button type="button" class="close" data-dismiss="alert">×</button>
            {% for field in work_form %}
              {% if field.errors %}
              <li>{{ field.label }}: {{ field.errors|striptags }}</li>
              {% endif %}
            {% endfor %}
          </div>
        {% endif %}
      {% endfor %}
      <form id="work_experience" method="POST" class="post-form" action="{% url 'application' %}">
        {% csrf_token %}
        {{ wizard.management_form }}
        {{ wizard.form.management_form }}

        <h1>Work experience</h1>
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 35%;">
            35%
          </div>
        </div>
        <p class="lead">Start with your present or last job and give all employers in past 10 years.</p>
        {% for work_form in wizard.form %}
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="{{ work_form.company_name.id_for_label }}">Employer</label>
              <input type="text" class="form-control" name="{{ work_form.company_name.html_name }}" id="{{ work_form.company_name.id_for_label }}" value="{{ work_form.company_name.value|default_if_none:'' }}" placeholder="Company name">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" class="form-control" name="{{ work_form.city.html_name }}" id="{{ work_form.city.id_for_label }}" value="{{ work_form.city.value|default_if_none:'' }}" placeholder="City">
            </div>
          </div>
          <div class="col-md-3">
            <select class="form-control" id="{{ work_form.state.id_for_label }}" name="{{ work_form.state.html_name }}">
             {% for choice, choice_label in work_form.state.field.choices %}
             <option value="{{ choice }}"{% if choice == work_form.state.value %} selected{% endif %}>{{ choice_label }}</option>
             {% endfor %}
            </select>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <input id="{{ work_form.zipcode.id_for_label }}" name="{{ work_form.zipcode.html_name }}" value="{{ work_form.zipcode.value|default_if_none:'' }}" type="text" class="form-control" placeholder="Zip code">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="{{ work_form.supervisor.id_for_label }}">Supervisor</label>
              <input type="text" class="form-control" name="{{ work_form.supervisor.html_name }}" id="{{ work_form.supervisor.id_for_label }}" value="{{ work_form.supervisor.value|default_if_none:'' }}" placeholder="Supervisor's name">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="{{ form.phone.id_for_label }}">Phone number</label>
              <input type="text" class="form-control" name="{{ work_form.phone.html_name }}" id="{{ work_form.phone.id_for_label }}" value="{{ work_form.phone.value|default_if_none:'' }}" placeholder="(123) 456-7890">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="{{ work_form.email.id_for_label }}">Email address</label>
              <input type="email" class="form-control" name="{{ work_form.email.html_name }}" id="{{ work_form.email.id_for_label }}" value="{{ work_form.email.value|default_if_none:'' }}" placeholder="name@example.com">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label for="{{ work_form.start_date.id_for_label }}">Start date:</label>
              <input type="text" class="form-control datepicker" name="{{ work_form.start_date.html_name }}" id="{{ work_form.start_date.id_for_label }}" value="{{ work_form.start_date.value|default_if_none:'' }}" placeholder="mm/dd/yyyy">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="{{ work_form.start_pay.id_for_label }}">Starting pay:</label>
              <input type="text" class="form-control" name="{{ work_form.start_pay.html_name }}" id="{{ work_form.start_pay.id_for_label }}" value="{{ work_form.start_pay.value|default_if_none:'0.00' }}" placeholder="0.00">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="{{ work_form.end_date.id_for_label }}">End date:</label>
              <input type="text" class="form-control datepicker" name="{{ work_form.end_date.html_name }}" id="{{ work_form.end_date.id_for_label }}" value="{{ work_form.end_date.value|default_if_none:'' }}" placeholder="mm/dd/yyyy">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="{{ work_form.end_pay.id_for_label }}">Ending pay:</label>
              <input type="text" class="form-control" name="{{ work_form.end_pay.html_name }}" id="{{ work_form.end_pay.id_for_label }}" value="{{ work_form.end_pay.value|default_if_none:'0.00' }}" placeholder="0.00">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label for="{{ work_form.job_title.id_for_label }}">Job title:</label>
              <input type="text" class="form-control" name="{{ work_form.job_title.html_name }}" id="{{ work_form.job_title.id_for_label }}" value="{{ work_form.job_title.value|default_if_none:'' }}" placeholder="Your most reason position">
            </div>
          </div>
          <div class="col-md-9">
            <div class="form-group">
              <label for="{{ form.work_information.id_for_label }}">Tell us about the work you performed:</label>
              <textarea class="form-control" rows="10" name="{{ work_form.work_information.html_name }}" id="{{ work_form.work_information.id_for_label }}">{{ work_form.work_information.value|default_if_none:'' }}</textarea>
            </div>
          </div>
        </div>
        {% endfor %}
        <div class="formsetmanage"></div><br><br>
        <div class="row">
          <div class="col-md-4 text-left">
            {% if wizard.steps.prev %}
            <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</button>
            {% endif %}
          </div>
          <div class="col-md-4 text-center">&nbsp;</div>
          <div class="col-md-4 text-right">
            <input type="submit" value="Next >" class="btn btn-primary" role="button">
          </div>
        </div>
      </form>
    </div>
  </div>
  {% endblock %}

  {% block footer %}
  <script type="text/javascript">
      $(function() {
          $('#work_experience tbody tr').formset();
      })
  </script>
  {% endblock %}
