{% extends "pages/base.html" %}
{% load app_filters %}
{% load staticfiles %}

    {% block navigation %}
      {{ block.super }}
    {% endblock %}

    {% block content %}

    <div class="hero-past-projects">
        <div class="container-fluid text-center"></div>
    </div>

    <div class="container">
        <h1>Past Projects</h1>
        <p class="lead">We have successfully completed many construction projects throughout the southeastern US, all with impeccable attention to detail. This project gallery includes some of the more recent projects we've completed.</p>
    </div>

    <div class="container" id="current-projects">
      {% for project_category in project_categories %}
      <div id="category_{{ project_category.id }}"></div>
      <br>
      <hr>
      <h2>{{ project_category.name }}</h2>
      <hr>
      <div class="row">
        <div class="col-md-12">
          <div class="row">
          {% for project in project_category|in_past_category %}
            <div class="col-md-4">
              <img src="{{ project.photo.first.photo.url }}">
              <h4>{{ project.name }}</h4>
              {{ project.location }}<br>
              <a href="/project/{{ project.id }}">Project details</a>
              <i class="fa fa-camera" aria-hidden="true"></i>
            </div>
              {% if forloop.counter|divisibleby:3 %}
          </div>
          <div class="row">
              {% endif %}
          {% endfor %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    {% endblock %}

    {% block footer %}
      {{ block.super }}
    {% endblock %}
